
# Created by https://www.toptal.com/developers/gitignore/api/macos
# Edit at https://www.toptal.com/developers/gitignore?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.toptal.com/developers/gitignore/api/macos

dist/
docs/slides/revealjs
.idea/
/example_project/solution/node_modules/.bin/acorn
/example_project/solution/node_modules/.bin/ts-node
/example_project/solution/node_modules/.bin/ts-node-cwd
/example_project/solution/node_modules/.bin/ts-node-esm
/example_project/solution/node_modules/.bin/ts-node-script
/example_project/solution/node_modules/.bin/ts-node-transpile-only
/example_project/solution/node_modules/.bin/ts-script
/example_project/solution/node_modules/.bin/tsc
/example_project/solution/node_modules/.bin/tsserver
/example_project/solution/node_modules/@cspotcode/source-map-support/browser-source-map-support.js
/example_project/solution/node_modules/@cspotcode/source-map-support/LICENSE.md
/example_project/solution/node_modules/@cspotcode/source-map-support/package.json
/example_project/solution/node_modules/@cspotcode/source-map-support/README.md
/example_project/solution/node_modules/@cspotcode/source-map-support/register.d.ts
/example_project/solution/node_modules/@cspotcode/source-map-support/register.js
/example_project/solution/node_modules/@cspotcode/source-map-support/register-hook-require.d.ts
/example_project/solution/node_modules/@cspotcode/source-map-support/register-hook-require.js
/example_project/solution/node_modules/@cspotcode/source-map-support/source-map-support.d.ts
/example_project/solution/node_modules/@cspotcode/source-map-support/source-map-support.js
/example_project/solution/node_modules/@jridgewell/resolve-uri/LICENSE
/example_project/solution/node_modules/@jridgewell/resolve-uri/package.json
/example_project/solution/node_modules/@jridgewell/resolve-uri/README.md
/example_project/solution/node_modules/@jridgewell/sourcemap-codec/LICENSE
/example_project/solution/node_modules/@jridgewell/sourcemap-codec/package.json
/example_project/solution/node_modules/@jridgewell/sourcemap-codec/README.md
/example_project/solution/node_modules/@jridgewell/trace-mapping/LICENSE
/example_project/solution/node_modules/@jridgewell/trace-mapping/package.json
/example_project/solution/node_modules/@jridgewell/trace-mapping/README.md
/example_project/solution/node_modules/@tsconfig/node10/LICENSE
/example_project/solution/node_modules/@tsconfig/node10/package.json
/example_project/solution/node_modules/@tsconfig/node10/README.md
/example_project/solution/node_modules/@tsconfig/node10/tsconfig.json
/example_project/solution/node_modules/@tsconfig/node12/LICENSE
/example_project/solution/node_modules/@tsconfig/node12/package.json
/example_project/solution/node_modules/@tsconfig/node12/README.md
/example_project/solution/node_modules/@tsconfig/node12/tsconfig.json
/example_project/solution/node_modules/@tsconfig/node14/LICENSE
/example_project/solution/node_modules/@tsconfig/node14/package.json
/example_project/solution/node_modules/@tsconfig/node14/README.md
/example_project/solution/node_modules/@tsconfig/node14/tsconfig.json
/example_project/solution/node_modules/@tsconfig/node16/LICENSE
/example_project/solution/node_modules/@tsconfig/node16/package.json
/example_project/solution/node_modules/@tsconfig/node16/README.md
/example_project/solution/node_modules/@tsconfig/node16/tsconfig.json
/example_project/solution/node_modules/@types/node/assert/strict.d.ts
/example_project/solution/node_modules/@types/node/compatibility/disposable.d.ts
/example_project/solution/node_modules/@types/node/compatibility/index.d.ts
/example_project/solution/node_modules/@types/node/compatibility/indexable.d.ts
/example_project/solution/node_modules/@types/node/compatibility/iterators.d.ts
/example_project/solution/node_modules/@types/node/dns/promises.d.ts
/example_project/solution/node_modules/@types/node/fs/promises.d.ts
/example_project/solution/node_modules/@types/node/readline/promises.d.ts
/example_project/solution/node_modules/@types/node/stream/consumers.d.ts
/example_project/solution/node_modules/@types/node/stream/promises.d.ts
/example_project/solution/node_modules/@types/node/stream/web.d.ts
/example_project/solution/node_modules/@types/node/timers/promises.d.ts
/example_project/solution/node_modules/@types/node/ts5.6/buffer.buffer.d.ts
/example_project/solution/node_modules/@types/node/ts5.6/globals.typedarray.d.ts
/example_project/solution/node_modules/@types/node/ts5.6/index.d.ts
/example_project/solution/node_modules/@types/node/assert.d.ts
/example_project/solution/node_modules/@types/node/async_hooks.d.ts
/example_project/solution/node_modules/@types/node/buffer.buffer.d.ts
/example_project/solution/node_modules/@types/node/buffer.d.ts
/example_project/solution/node_modules/@types/node/child_process.d.ts
/example_project/solution/node_modules/@types/node/cluster.d.ts
/example_project/solution/node_modules/@types/node/console.d.ts
/example_project/solution/node_modules/@types/node/constants.d.ts
/example_project/solution/node_modules/@types/node/crypto.d.ts
/example_project/solution/node_modules/@types/node/dgram.d.ts
/example_project/solution/node_modules/@types/node/diagnostics_channel.d.ts
/example_project/solution/node_modules/@types/node/dns.d.ts
/example_project/solution/node_modules/@types/node/dom-events.d.ts
/example_project/solution/node_modules/@types/node/domain.d.ts
/example_project/solution/node_modules/@types/node/events.d.ts
/example_project/solution/node_modules/@types/node/fs.d.ts
/example_project/solution/node_modules/@types/node/globals.d.ts
/example_project/solution/node_modules/@types/node/globals.typedarray.d.ts
/example_project/solution/node_modules/@types/node/http.d.ts
/example_project/solution/node_modules/@types/node/http2.d.ts
/example_project/solution/node_modules/@types/node/https.d.ts
/example_project/solution/node_modules/@types/node/index.d.ts
/example_project/solution/node_modules/@types/node/inspector.d.ts
/example_project/solution/node_modules/@types/node/LICENSE
/example_project/solution/node_modules/@types/node/module.d.ts
/example_project/solution/node_modules/@types/node/net.d.ts
/example_project/solution/node_modules/@types/node/os.d.ts
/example_project/solution/node_modules/@types/node/package.json
/example_project/solution/node_modules/@types/node/path.d.ts
/example_project/solution/node_modules/@types/node/perf_hooks.d.ts
/example_project/solution/node_modules/@types/node/process.d.ts
/example_project/solution/node_modules/@types/node/punycode.d.ts
/example_project/solution/node_modules/@types/node/querystring.d.ts
/example_project/solution/node_modules/@types/node/readline.d.ts
/example_project/solution/node_modules/@types/node/README.md
/example_project/solution/node_modules/@types/node/repl.d.ts
/example_project/solution/node_modules/@types/node/sea.d.ts
/example_project/solution/node_modules/@types/node/sqlite.d.ts
/example_project/solution/node_modules/@types/node/stream.d.ts
/example_project/solution/node_modules/@types/node/string_decoder.d.ts
/example_project/solution/node_modules/@types/node/test.d.ts
/example_project/solution/node_modules/@types/node/timers.d.ts
/example_project/solution/node_modules/@types/node/tls.d.ts
/example_project/solution/node_modules/@types/node/trace_events.d.ts
/example_project/solution/node_modules/@types/node/tty.d.ts
/example_project/solution/node_modules/@types/node/url.d.ts
/example_project/solution/node_modules/@types/node/util.d.ts
/example_project/solution/node_modules/@types/node/v8.d.ts
/example_project/solution/node_modules/@types/node/vm.d.ts
/example_project/solution/node_modules/@types/node/wasi.d.ts
/example_project/solution/node_modules/@types/node/worker_threads.d.ts
/example_project/solution/node_modules/@types/node/zlib.d.ts
/example_project/solution/node_modules/@types/ws/index.d.mts
/example_project/solution/node_modules/@types/ws/index.d.ts
/example_project/solution/node_modules/@types/ws/LICENSE
/example_project/solution/node_modules/@types/ws/package.json
/example_project/solution/node_modules/@types/ws/README.md
/example_project/solution/node_modules/acorn/bin/acorn
/example_project/solution/node_modules/acorn/CHANGELOG.md
/example_project/solution/node_modules/acorn/LICENSE
/example_project/solution/node_modules/acorn/package.json
/example_project/solution/node_modules/acorn/README.md
/example_project/solution/node_modules/acorn-walk/CHANGELOG.md
/example_project/solution/node_modules/acorn-walk/LICENSE
/example_project/solution/node_modules/acorn-walk/package.json
/example_project/solution/node_modules/acorn-walk/README.md
/example_project/solution/node_modules/arg/index.d.ts
/example_project/solution/node_modules/arg/index.js
/example_project/solution/node_modules/arg/LICENSE.md
/example_project/solution/node_modules/arg/package.json
/example_project/solution/node_modules/arg/README.md
/example_project/solution/node_modules/create-require/CHANGELOG.md
/example_project/solution/node_modules/create-require/create-require.d.ts
/example_project/solution/node_modules/create-require/create-require.js
/example_project/solution/node_modules/create-require/LICENSE
/example_project/solution/node_modules/create-require/package.json
/example_project/solution/node_modules/create-require/README.md
/example_project/solution/node_modules/diff/lib/convert/dmp.js
/example_project/solution/node_modules/diff/lib/convert/xml.js
/example_project/solution/node_modules/diff/lib/diff/array.js
/example_project/solution/node_modules/diff/lib/diff/base.js
/example_project/solution/node_modules/diff/lib/diff/character.js
/example_project/solution/node_modules/diff/lib/diff/css.js
/example_project/solution/node_modules/diff/lib/diff/json.js
/example_project/solution/node_modules/diff/lib/diff/line.js
/example_project/solution/node_modules/diff/lib/diff/sentence.js
/example_project/solution/node_modules/diff/lib/diff/word.js
/example_project/solution/node_modules/diff/lib/patch/apply.js
/example_project/solution/node_modules/diff/lib/patch/create.js
/example_project/solution/node_modules/diff/lib/patch/merge.js
/example_project/solution/node_modules/diff/lib/patch/parse.js
/example_project/solution/node_modules/diff/lib/util/array.js
/example_project/solution/node_modules/diff/lib/util/distance-iterator.js
/example_project/solution/node_modules/diff/lib/util/params.js
/example_project/solution/node_modules/diff/lib/index.es6.js
/example_project/solution/node_modules/diff/lib/index.js
/example_project/solution/node_modules/diff/CONTRIBUTING.md
/example_project/solution/node_modules/diff/LICENSE
/example_project/solution/node_modules/diff/package.json
/example_project/solution/node_modules/diff/README.md
/example_project/solution/node_modules/diff/release-notes.md
/example_project/solution/node_modules/diff/runtime.js
/example_project/solution/node_modules/make-error/index.d.ts
/example_project/solution/node_modules/make-error/index.js
/example_project/solution/node_modules/make-error/LICENSE
/example_project/solution/node_modules/make-error/package.json
/example_project/solution/node_modules/make-error/README.md
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-constants.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-errors.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-modules-cjs-helpers.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-modules-cjs-loader.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-modules-esm-get_format.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-modules-esm-resolve.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-modules-package_json_reader.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internal-repl-await.js
/example_project/solution/node_modules/ts-node/dist-raw/node-internalBinding-fs.js
/example_project/solution/node_modules/ts-node/dist-raw/NODE-LICENSE.md
/example_project/solution/node_modules/ts-node/dist-raw/node-nativemodule.js
/example_project/solution/node_modules/ts-node/dist-raw/node-options.js
/example_project/solution/node_modules/ts-node/dist-raw/node-primordials.js
/example_project/solution/node_modules/ts-node/dist-raw/README.md
/example_project/solution/node_modules/ts-node/dist-raw/runmain-hack.js
/example_project/solution/node_modules/ts-node/esm/transpile-only.mjs
/example_project/solution/node_modules/ts-node/node10/tsconfig.json
/example_project/solution/node_modules/ts-node/node12/tsconfig.json
/example_project/solution/node_modules/ts-node/node14/tsconfig.json
/example_project/solution/node_modules/ts-node/node16/tsconfig.json
/example_project/solution/node_modules/ts-node/register/files.js
/example_project/solution/node_modules/ts-node/register/index.js
/example_project/solution/node_modules/ts-node/register/transpile-only.js
/example_project/solution/node_modules/ts-node/register/type-check.js
/example_project/solution/node_modules/ts-node/transpilers/swc.js
/example_project/solution/node_modules/ts-node/transpilers/swc-experimental.js
/example_project/solution/node_modules/ts-node/child-loader.mjs
/example_project/solution/node_modules/ts-node/esm.mjs
/example_project/solution/node_modules/ts-node/LICENSE
/example_project/solution/node_modules/ts-node/package.json
/example_project/solution/node_modules/ts-node/README.md
/example_project/solution/node_modules/ts-node/tsconfig.schema.json
/example_project/solution/node_modules/ts-node/tsconfig.schemastore-schema.json
/example_project/solution/node_modules/typescript/bin/tsc
/example_project/solution/node_modules/typescript/bin/tsserver
/example_project/solution/node_modules/typescript/lib/cs/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/de/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/es/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/fr/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/it/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/ja/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/ko/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/pl/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/ru/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/tr/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
/example_project/solution/node_modules/typescript/lib/_tsc.js
/example_project/solution/node_modules/typescript/lib/_tsserver.js
/example_project/solution/node_modules/typescript/lib/_typingsInstaller.js
/example_project/solution/node_modules/typescript/lib/lib.d.ts
/example_project/solution/node_modules/typescript/lib/lib.decorators.d.ts
/example_project/solution/node_modules/typescript/lib/lib.decorators.legacy.d.ts
/example_project/solution/node_modules/typescript/lib/lib.dom.asynciterable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.dom.d.ts
/example_project/solution/node_modules/typescript/lib/lib.dom.iterable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es5.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es6.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.collection.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.core.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.generator.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.iterable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.proxy.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.reflect.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.symbol.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2016.array.include.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2016.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2016.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2016.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.arraybuffer.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.date.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.object.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2018.regexp.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.array.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.object.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2019.symbol.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.bigint.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.date.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.number.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.sharedmemory.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2021.weakref.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.array.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.error.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.object.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.regexp.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2022.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2023.array.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2023.collection.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2023.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2023.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2023.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.arraybuffer.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.collection.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.object.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.regexp.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.sharedmemory.d.ts
/example_project/solution/node_modules/typescript/lib/lib.es2024.string.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.array.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.collection.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.decorators.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.disposable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.float16.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.full.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.intl.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.iterator.d.ts
/example_project/solution/node_modules/typescript/lib/lib.esnext.promise.d.ts
/example_project/solution/node_modules/typescript/lib/lib.scripthost.d.ts
/example_project/solution/node_modules/typescript/lib/lib.webworker.asynciterable.d.ts
/example_project/solution/node_modules/typescript/lib/lib.webworker.d.ts
/example_project/solution/node_modules/typescript/lib/lib.webworker.importscripts.d.ts
/example_project/solution/node_modules/typescript/lib/lib.webworker.iterable.d.ts
/example_project/solution/node_modules/typescript/lib/tsc.js
/example_project/solution/node_modules/typescript/lib/tsserver.js
/example_project/solution/node_modules/typescript/lib/tsserverlibrary.d.ts
/example_project/solution/node_modules/typescript/lib/tsserverlibrary.js
/example_project/solution/node_modules/typescript/lib/typescript.d.ts
/example_project/solution/node_modules/typescript/lib/typescript.js
/example_project/solution/node_modules/typescript/lib/typesMap.json
/example_project/solution/node_modules/typescript/lib/typingsInstaller.js
/example_project/solution/node_modules/typescript/lib/watchGuard.js
/example_project/solution/node_modules/typescript/LICENSE.txt
/example_project/solution/node_modules/typescript/package.json
/example_project/solution/node_modules/typescript/README.md
/example_project/solution/node_modules/typescript/SECURITY.md
/example_project/solution/node_modules/typescript/ThirdPartyNoticeText.txt
/example_project/solution/node_modules/undici-types/agent.d.ts
/example_project/solution/node_modules/undici-types/api.d.ts
/example_project/solution/node_modules/undici-types/balanced-pool.d.ts
/example_project/solution/node_modules/undici-types/cache.d.ts
/example_project/solution/node_modules/undici-types/client.d.ts
/example_project/solution/node_modules/undici-types/connector.d.ts
/example_project/solution/node_modules/undici-types/content-type.d.ts
/example_project/solution/node_modules/undici-types/cookies.d.ts
/example_project/solution/node_modules/undici-types/diagnostics-channel.d.ts
/example_project/solution/node_modules/undici-types/dispatcher.d.ts
/example_project/solution/node_modules/undici-types/env-http-proxy-agent.d.ts
/example_project/solution/node_modules/undici-types/errors.d.ts
/example_project/solution/node_modules/undici-types/eventsource.d.ts
/example_project/solution/node_modules/undici-types/fetch.d.ts
/example_project/solution/node_modules/undici-types/file.d.ts
/example_project/solution/node_modules/undici-types/filereader.d.ts
/example_project/solution/node_modules/undici-types/formdata.d.ts
/example_project/solution/node_modules/undici-types/global-dispatcher.d.ts
/example_project/solution/node_modules/undici-types/global-origin.d.ts
/example_project/solution/node_modules/undici-types/handlers.d.ts
/example_project/solution/node_modules/undici-types/header.d.ts
/example_project/solution/node_modules/undici-types/index.d.ts
/example_project/solution/node_modules/undici-types/interceptors.d.ts
/example_project/solution/node_modules/undici-types/LICENSE
/example_project/solution/node_modules/undici-types/mock-agent.d.ts
/example_project/solution/node_modules/undici-types/mock-client.d.ts
/example_project/solution/node_modules/undici-types/mock-errors.d.ts
/example_project/solution/node_modules/undici-types/mock-interceptor.d.ts
/example_project/solution/node_modules/undici-types/mock-pool.d.ts
/example_project/solution/node_modules/undici-types/package.json
/example_project/solution/node_modules/undici-types/patch.d.ts
/example_project/solution/node_modules/undici-types/pool.d.ts
/example_project/solution/node_modules/undici-types/pool-stats.d.ts
/example_project/solution/node_modules/undici-types/proxy-agent.d.ts
/example_project/solution/node_modules/undici-types/readable.d.ts
/example_project/solution/node_modules/undici-types/README.md
/example_project/solution/node_modules/undici-types/retry-agent.d.ts
/example_project/solution/node_modules/undici-types/retry-handler.d.ts
/example_project/solution/node_modules/undici-types/util.d.ts
/example_project/solution/node_modules/undici-types/webidl.d.ts
/example_project/solution/node_modules/undici-types/websocket.d.ts
/example_project/solution/node_modules/v8-compile-cache-lib/CHANGELOG.md
/example_project/solution/node_modules/v8-compile-cache-lib/LICENSE
/example_project/solution/node_modules/v8-compile-cache-lib/package.json
/example_project/solution/node_modules/v8-compile-cache-lib/README.md
/example_project/solution/node_modules/v8-compile-cache-lib/v8-compile-cache.d.ts
/example_project/solution/node_modules/v8-compile-cache-lib/v8-compile-cache.js
/example_project/solution/node_modules/ws/lib/buffer-util.js
/example_project/solution/node_modules/ws/lib/constants.js
/example_project/solution/node_modules/ws/lib/event-target.js
/example_project/solution/node_modules/ws/lib/extension.js
/example_project/solution/node_modules/ws/lib/limiter.js
/example_project/solution/node_modules/ws/lib/permessage-deflate.js
/example_project/solution/node_modules/ws/lib/receiver.js
/example_project/solution/node_modules/ws/lib/sender.js
/example_project/solution/node_modules/ws/lib/stream.js
/example_project/solution/node_modules/ws/lib/subprotocol.js
/example_project/solution/node_modules/ws/lib/validation.js
/example_project/solution/node_modules/ws/lib/websocket.js
/example_project/solution/node_modules/ws/lib/websocket-server.js
/example_project/solution/node_modules/ws/browser.js
/example_project/solution/node_modules/ws/index.js
/example_project/solution/node_modules/ws/LICENSE
/example_project/solution/node_modules/ws/package.json
/example_project/solution/node_modules/ws/README.md
/example_project/solution/node_modules/ws/wrapper.mjs
/example_project/solution/node_modules/yn/index.d.ts
/example_project/solution/node_modules/yn/index.js
/example_project/solution/node_modules/yn/lenient.js
/example_project/solution/node_modules/yn/license
/example_project/solution/node_modules/yn/package.json
/example_project/solution/node_modules/yn/readme.md
/example_project/solution/node_modules/.package-lock.json
